$font1: '/fonts/WorkSans-VariableFont_wght.ttf' format('truetype');
$font2: '/fonts/WorkSans-Italic-VariableFont_wght.ttf' format('truetype');
$White: hsl(0, 0%, 100%);
$Lightpink: hsl(275, 100%, 97%);
$Grayishpurple: hsl(292, 16%, 49%);
$Darkpurple: hsl(292, 42%, 14%);

body {
    font-family: 'Work Sans', sans-serif;
    background-image: url('/assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $Lightpink;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 11% auto;
    height: 50%;
    background-color: $White;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Work Sans Italic', sans-serif;

    header {
        display: flex;
        gap: 5%;
        margin: 10px;

        h1 {
            color: $Darkpurple;
            font-weight: 700;
            font-size: 40px;
            font-family: 'Work Sans Italic', sans-serif;

        }
    }
    main{
        p{
            color: $Grayishpurple;
            line-height: 1.5;
            font-family: 'Work Sans Italic', sans-serif;

        }
        h3{
            color: $Darkpurple;
            cursor: pointer;
            &:hover{
                color: $Grayishpurple;
                font-family: 'Work Sans Italic', sans-serif;

            }
        }
        ul {
            list-style-type: none;
            font-family: 'Work Sans Italic', sans-serif;

            li {
              border-bottom: 1px solid $Lightpink;
              font-family: 'Work Sans Italic', sans-serif;

              .question {
                display: flex;
                justify-content: space-between;
                align-items: center;
          
                button {
                  background-image: url('/assets/images/icon-plus.svg');
                  background-repeat: no-repeat;
                  background-position: center;
                  border: none;
                  width: 20px;
                  height: 20px;
                  cursor: pointer;
                  border-radius: 50%;
          
                  &:active {
                    background-image: url('/assets/images/icon-minus.svg');
                  }
                }
              }
          
              .answer {
                display: none; // Initially hide the answer paragraph
              }
          
             
            }
          }
        }          
}